**/__pycache__/**
*.pyc
*.pyo
venv

password.txt
.env

**/.ropeproject
**/Session.vim


**/*.mp4
**/*.mov
**/*.aac
**/*.mkv
tmp/**
dist/**
build/**
render.log
render.log.*


**/*.aaf
**/*.fcpxml
**/*.otio
**/*.xml
**/*.edl
